apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: property-management-test
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  
  source:
    repoURL: https://github.com/ism-dev-eng/property-management-api-spring
    targetRevision: main  # Watch main branch for release tags
    path: k8s/overlays/test
  
  destination:
    server: https://kubernetes.default.svc
    namespace: property-management-test
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m